{{> components/navigation}}

<section class="masthead__container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-12 col-md-12 mb-4">
        {{> components/breadcrumb breadcrumbs=breadcrumbs}}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mb-3 pb-2 justify-content-center">
      <div class="col col-12 col-md-8 mb-4">
        <div class="text-left mb-lg-4 mb-3">
          <a class="bt-grouping"
            href="https://www.instagram.com/payungmadinah/?hl=en"
            target="_blank">
            <span class="bcolor">{{umroh.name}}</span>
            <span class="bwhite">{{umroh.total_hari}} Hari Perjalanan</span>
          </a>
        </div>
        <div class="text-left">
          <div class="d-flex fw-bold gap-2">
            <div>
              <i class="bi bi-calendar me-2"></i> {{umroh.tanggal}} -
              {{umroh.total_hari}} Hari
            </div>
            <div class="text-uppercase">
              Paket {{umroh.paket}}
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-3 mb-4">
        <span
          class="bt block-mobile orange text-white mb-0 mb-lg-2 text-uppercase fw-bold float-end"
          href="http://linktr.ee/payungmadinahtour"
          target="_blank">{{umroh.jenis_penerbangan}}</span>
      </div>
    </div>
    <div class="row mb-5 pb-2 justify-content-center">
      <div class="col col-12">
        <div class="gallery-container">

          <div class="gallery-left">
            {{#each umroh_images}}
            <div class="gallery-item">
              <img src="/uploads/{{this.image_path}}"
                alt="Gallery Image {{@index}}">
            </div>
            {{/each}}
          </div>

          <div class="gallery-item gallery-right">
            <img src="/uploads/{{umroh.thumbnail}}" alt="Thumbnail Utama">
          </div>

        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-12 col-lg-5 mb-5">
        <h5 class="mb-4 fw-bold text-start color-orange fs-3 fw-bold">Kenapa
          {{umroh.name}}</h5>
        <p>
          Karena selain beribadah, jamaah juga diajak menelusuri jejak dakwah
          Rasulullah SAW di kota sejuk nan bersejarah yang memperkaya pengalaman
          spiritual.
        </p>
        <ul class="mb-lg-5 mb-4 checklist">
          <li>Berizin Resmi & Terintegrasi Siskopatuh Kemenag</li>
          <li>Jaminan 100% Pasti Berangkat</li>
          <li>Telah Dipercayai oleh Muassasah Arab Saudi</li>
          <li>Tim Berpengalaman dan Profesional</li>
          <li>Pembimbing Sesuai Sunnah & Bersertifikasi</li>
          <li>Telah Dipercaya Lebih dari 2500 Jamaah</li>
        </ul>
        <div class="row">
          <div class="col col-12 col-lg-6 mb-lg-3 mb-3 js-match-height">
            <div class="card" style="background-color: #f4f4f4;">
              <div class="card-body">
                <img loading="lazy" src="/images/icons/icohx1.png" class="mb-3"
                  alt
                  width="36" />
                <h2 class="fw-bold fs-5 text-dark">Hotel Mekah
                </h2>
                <p class="text-dark fs-14">Grand Al Massa / Setaraf</p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-lg-6 mb-lg-3 mb-3 js-match-height">
            <div class="card" style="background-color: #f4f4f4;">
              <div class="card-body">
                <img loading="lazy" src="/images/icons/icohx1.png" class="mb-3"
                  alt
                  width="36" />
                <h2 class="fw-bold fs-5 text-dark">Hotel Madinah
                </h2>
                <p class="text-dark fs-14">
                  Golden Tulip / Setaraf
                </p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-lg-6 mb-lg-3 mb-3 js-match-height">
            <div class="card" style="background-color: #f4f4f4;">
              <div class="card-body">
                <img loading="lazy" src="/images/icons/icohx2.png" class="mb-3"
                  alt
                  width="36" />
                <h2 class="fw-bold fs-5 text-dark">Kereta Cepat
                </h2>
                <p class="text-dark fs-14">Menaiki kereta cepat Haramain yang
                  nyaman dan modern.
                </p>
              </div>
            </div>
          </div>
          <div class="col col-12 col-lg-6 mb-lg-3 mb-3 js-match-height">
            <div class="card" style="background-color: #f4f4f4;">
              <div class="card-body">
                <img loading="lazy" src="/images/icons/icohx3.png" class="mb-3"
                  alt
                  width="36" />
                <h2 class="fw-bold fs-5 text-dark">Free City Tour
                </h2>
                <p class="text-dark fs-14">Menyusuri kota-kota penuh sejarah
                  Rasulullah SAW.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-12 col-lg-12">
            <div class="accordion mb-3" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Benefit Tambahan
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul class="mb-lg-5 mb-4 checklist">
                      <li>Kereta Cepat</li>
                      <li>Free kenangan Frame Dokumentasi</li>
                      <li>Mutowwif Mahasiswa Madinah / Egypt</li>
                      <li>City Tour Thaif</li>
                      <li>Pesawat Pulang-Pergi</li>
                      <li>Visa Umroh</li>
                      <li>Hotel Mekkah dan Madinah</li>
                      <li>Bus Full AC</li>
                      <li>Pembimbing & Muthawwif</li>
                      <li>Manasik Umroh</li>
                      <li>City Tour Makkah & Madinah</li>
                      <li>Handing</li>
                      <li>Perlengkapan Umroh</li>
                      <li>Nasi Mandhi Romansiah</li>
                      <li>Zam-zam water</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion mb-3" id="accordionExample3">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Syarat & Ketentuan
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse show"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample3">
                  <div class="accordion-body">
                    <ul>
                      <li>Paspor yang masih berlaku minimal satu tahun saat akan
                        berngkat dan nama di paspor minimal dua suku kata.</li>
                      <li>Pasfoto 3x6 sebanyak 4 lembar (cetak dan
                        softcopy).</li>
                      <li>Fotokopi surat nikah bagi suami dan istri</li>
                      <li>Fotokopi KK bagi anak yang berangkat bersama orang
                        tua</li>
                      <li>Buku kuning suntik meningitis asli</li>
                      <li>DP Rp10.000.000</li>
                      <li>Harag dan program sewaktu-waktu bisa berubah sesuai
                        regulasi Arab Saudi dan Indonesia</li>
                      <li>Pendaftaran baru dan batas pelunasan paling lambat 1
                        Bulan sebelum keberangkatan</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion mb-3" id="accordionExample2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Biaya Belum Termasuk
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample2">
                  <div class="accordion-body">

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col col-12 col-md-3 col-xl-3" data-aos="fade"
        data-aos-duration="1300" data-aos-delay="10">
        <div
          class="flat card card-post card-white mb-lg-4 mb-4 js-match-height">
          <img style="aspect-ratio:3/4;" alt="Images"
            src="/uploads/{{umroh.thumbnail}}" />
          <div class="card-body" style="background-color: white;">
            <div class="text-center">
              <h2 class="fw-bold color-orange fs-4 mb-1">{{umroh.name}}</h2>
              <p class="text-muted fs-12 mb-4">Free City Tour Thaif & Cable
                For</p>
            </div>
            <div class="card-umroh--trip">
              <div class="card-umroh--trip-info text-muted">
                <i class="bi bi-calendar me-2 color-orange"></i>
                <span class="fw-bold text-muted">{{umroh.tanggal}}</span> |
                {{umroh.total_hari}} Hari
              </div>
              <div class="card-umroh--trip-action">
                Direct
              </div>
            </div>

            <div class="card-umroh--travel">
              <div class="travel-title">Maskapai<br />Penerbangan</div>
              <div class="travel-logo">
                <img loading="lazy"
                  src="/images/partner/{{umroh.maskapai}}.png" />
              </div>
            </div>

            <div class="card-stars">
              <div class="card-stars--list gap-3">
                <div class="card-stars--item">
                  <div class="card-stars--name">Hotel Madinah</div>
                  <div class="d-flex card-stars--hotel-info">
                    <div>
                      <h6>{{umroh.hotel_madinah}}</h6>
                    </div>
                    <div class="ms-auto">
                      <span>
                        <i class="bi bi-star-fill text-warning me-1"></i>
                        <i class="bi bi-star-fill text-warning me-1"></i>
                        <i class="bi bi-star-fill text-warning me-1"></i>
                        <i class="bi bi-star-fill text-warning me-1"></i>
                        <i class="bi bi-star text-warning me-1"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="card-stars--item">
                  <div class="card-stars--name">Hotel Makkah</div>
                  <div class="d-flex card-stars--hotel-info">
                    <div>
                      <h6>{{umroh.hotel_makkah}}</h6>
                    </div>
                    <div class="ms-auto">
                      <span>
                        <i class="bi bi-star-fill text-warning me-1"></i>
                        <i class="bi bi-star-fill text-warning me-1"></i>
                        <i class="bi bi-star-fill text-warning me-1"></i>
                        <i class="bi bi-star-fill text-warning me-1"></i>
                        <i class="bi bi-star text-warning me-1"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-level {{umroh.level}}">
              <div class="package-info">
                {{umroh.levelText}}
              </div>
              <div class="package-background">
                <div class="package-background--label">
                  Mulai dari
                </div>
                <div class="package-background--price">
                  {{umroh.priceShort}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{> components/footer}}